<div style="display: flex; flex-wrap: wrap; justify-content: center; width: 100%" id="list-users">
    {{#each users}}
    <div class="card" style="margin: 20px 20px; width: 350px;">
        <div style="display: flex; justify-content: center; align-items: center; height: 75px">
            <img src="https://i.ibb.co/3WdFcqG/profile.png" alt="profile" width="50px" alt="img - no img">
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div>
                    <b>First Name:</b>
                    {{first_name}} {{last_name}}
                </div>
            </li>
            <li class="list-group-item">
                <div>
                    <b>Email:</b>
                    {{email}}
                    <p class="email" hidden>{{email}}</p>
                </div>
            </li>
            <li class="list-group-item">
                <div>
                    <b>Social:</b>
                    {{social}}
                </div>
            </li>
            <li class="list-group-item">
                <div>
                    <b>Role:</b>
                    {{role}}
                    <p class="role" hidden>{{role}}</p>
                </div>
            </li>
        </ul>
        <div class="p-3" style="display: flex; justify-content: space-between;">
            <div class="delete">
                <button class="btn btn-danger delete" id={{id}}>
                    Delete
                </button>
            </div>
            <div class="change">
                <button class="btn btn-warning change" id={{id}}>
                    Change Role
                </button>
            </div>
        </div>
    </div>
    {{/each}}
</div>