<div style="width: 350px;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div>
                <b>First Name:</b>
                {{profile.name}}
            </div>
        </li>
        <li class="list-group-item">
            <div>
                <b>Last Name:</b>
                {{profile.surname}}
            </div>
        </li>
        <li class="list-group-item">
            <div>
                <b>Email:</b>
                {{profile.email}}
            </div>
        </li>
        <li class="list-group-item">
            <div>
                <b>Role:</b>
                {{profile.role}}
            </div>
        </li>
    </ul>
    <br>
    {{!-- <div style="display: flex; justify-content: center; margin-top: 20px">
        <form action="/api/v3/users/{{profile.email}}" method="put">
            <button type="submit" class="btn btn-primary mb-4">Change role</button>
        </form>

        <a href="/api/v3/users/{{profile.email}}">Change role</a>
    </div> --}}
    <div style="display: flex; justify-content: center">
        <a href="/reset">Reset password</a>
    </div>
    <br>
    <a class="btn btn-primary" style="width: 100%;" href="/api/v3/authentication/logout">Logout</a>
</div>